.sectionTitle {
  top: 10px;
  left: 15px;
  padding: 5px 10px;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.section {
  width: 90%;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
}

#logContainer {
  overflow: scroll;
  height: 360px;
}

.logSuccess {
  color: #090;
}

.logError {
  color: #a00;
}

.logWarning {
  color: #b80;
}

.logInfo {
  color: #444;
}
